body {
    background-color: white;
}
h1 {
    color: lightskyblue;
}
.btn {
    cursor: pointer;
}
.clicked {
    color: #423442;
}
.form,
.greetings {
    display: none;
}
.showing {
    display: block;
}
